body {
    background: #555;
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}